
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.dataset-page {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #6DC9F7;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Acme", sans-serif;
}

section p {
  line-height: 1.6;
}

.discord {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Acme", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.butto {
  background: #6DC9F7;
  color: #212121;
  padding: 14px 25px;
  margin-left: 250px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  font-family: "Acme", sans-serif;
  transition: transform 0.3s ease;
}

.butto:hover {
  transform: scale(1.1);
}

.link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #6DC9F7;
}

/* Media query for screens less than 800px */
@media (max-width: 800px) {
  .butto {
    margin-left: 100px ; /* Center the button horizontally */
  }
}